---
layout: default
class: home

title: Page not found
image: /assets/more-than-testing.png

header: "Page not found :("
subtitle: "Sorry, we can't find that page you're looking for."
permalink: /404.html

sitemap: false
---

<div id="wrapper-header" class="home">
  <div class="container">
    {% include navigation.html class="home" logo="/assets/m-blue.png" %}
  </div>
</div>

<div id="wrapper-content" role="main" class="home">
  {% include header.html class="home" %}
  <section id="page-content">
    <div class="container">
      <a href="/">&larr; Go to homepage</a>
    </div>
  </section>
</div>
