---
---

@import "variables";

section {
  >.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.title {
  color: $darkGrey;
  margin: 10px 0;
  padding: 0;

  letter-spacing: -.05rem;

  font-weight: 700;
  font-size: $biggest;

  @include mobile {
    font-size: $bigger;
  }

  @include mobileSmall {
    font-size: $big;
  }
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 10px;
  color: $darkGrey;
  font-size: $small;

  letter-spacing: -.025rem;

  @include mobile {
    font-size: $smaller;
  }
}

.button {
  margin: 10px 0;
  padding-left: 50px;
  padding-right: 50px;
}

.link-scroll-down {
  transform: translateY(-50%);
  display: inline-block;

  @include mobile {
    transform: none;
  }
}

#masterclass-section {
  height: 90vh;
  background-image: linear-gradient(to bottom, $white 50%, $lightestGrey 100%);
  text-align: center;

  padding-bottom: 5vh;

  @include mobile {
    height: 85vh;
  }

  .title {
    letter-spacing: -.0625rem;
  }
}

#newsletter-section {
  height: 90vh;
  background-color: $lightestGrey;
  text-align: center;
}

#blog-section {
  height: 90vh;
  background-image: linear-gradient(to bottom, $lightestGrey 0%, $white 50%);
  text-align: center;
}

#wrapper-footer {
  margin-top: 0;
}
