---
layout: default
class: home

description: "Software testing is a complex part of software development. We make it simple to understand for everyone. Read the blog, take a course and subscribe to start learning."
image: /assets/more-than-testing.png

header: "Software testing.<br/>For everyone."
subtitle: "Software testing is a complex part of software development.<br/>We make it simple to understand for everyone.<br/>Read the blog, take a course and subscribe to start learning."
---

<div class="wrapper-header home">
  <div class="container">
    {% include navigation.html class="home" logo="/assets/m-blue.png" %}
    <div id="main" role="main" class="home">
      {% include header.html class="home" %}

      <div class="cta-buttons">
        <a href="/blog" class="button primary">Read blog &rarr;</a>
        <a href="/newsletter" class="button secondary">Subscribe<a/>
      </div>
    </div>
  </div>
</div>
