---
layout: default
class: home
custom_css: /home.css

description: "Do you want to start a career in tech? We're helping people become software testers and get a job in tech. Join other people like you and start learning now!"
image: /assets/more-than-testing.png

header: "Ready to start a <span class='lightest-blue'>career in tech</span>?<span class='blinking-cursor'>_</span>"
subtitle: "Learn software testing and get a job in tech. No coding skills required."
---

<div id="wrapper-header" class="home">
  <div class="container">
    {% include header.html class="home" logo="/assets/m-blue.png" %}
  </div>
</div>

<div id="wrapper-content" role="main" class="home">
  {% include page-header.html class="home" %}
  <section id="page-content" class="home">
    <div class="container">
      <a href="/masterclass/" class="button primary-button" target="_blank">Start learning &rarr;</a>
    </div>
  </section>
</div>


<div id="wrapper-footer" class="home">
  <footer id="site-footer">
    <div class="container">
      <section id="site-credit">
        <p>&copy; 2020 More Than Testing Ltd</p>
        {% include social-links.html %}
      </section>
    </div>
  </footer>
</div>
