---
---

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
}

body {
  font: $smaller $helveticaNeue;
  letter-spacing: -.1px;
  line-height: 1.4;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $white;
  position: relative;
  min-height: 100%;
  min-width: 320px;
  margin: 0;

  &.home {
    height: 100vh;
    position: fixed;
    color: $lighterGray;
    background: $darkerBlue;
    background-image: linear-gradient(to bottom right, $darkestBlue, $darkerBlue, $blue);
  }

  &.page {
    // background-image: linear-gradient(to top, $metallicWhite 0%, white 100%);
  }

  &.blog {
    background-image: none;
  }
}

.preload * {
  transition: none !important;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 840px;
  padding: 0 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $rubik;
  color: $blue;
  font-weight: 500;
  letter-spacing: -.3px;
  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: $bigger;
  a {
    color: inherit;
  }

  @include mobile {
    font-size: $big;
  }
}

h2 {
  font-size: $big;

  @include mobile {
    font-size: $medium;
  }
}

h3 {
  font-size: $medium;

  @include mobile {
    font-size: $small;
  }
}

h4 {
  font-size: $small;
  color: $lightGray;

  @include mobile {
    font-size: $smaller;
  }
}

p {
  margin: 15px 0;
}

a {
  color: $lightBlue;
  text-decoration: none;
	cursor: pointer;
  transition: background-color .1s ease-in-out, border-color .1s ease-in-out, color .1s ease-in-out, opacity .1s ease-in-out;
  &:hover, &:active {
    color: $lightGray;
  }

  &.button {
    line-height: 45px;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: $smallest;
  color: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.wrapper-header {
  padding-bottom: 30px;
  margin-bottom: 50px;
  color: $lightestGray;
  background: transparent;

  &.home {
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    margin: 0;
    box-shadow: none;

    a:hover {
      color: $lightestBlue;
    }
  }

  &.page {
    color: $darkBlue;
    box-shadow: none;
  }

  &.post {
    margin-bottom: 0;
  }

  @include mobile {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

// header

.site-avatar {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 15px;
  transition: transform .15s;
  border-radius: 3px;
  &:hover {
    transform: scale(1.05);
  }

  &.page {
    border: 2px solid $darkBlue;
  }

  &.home {
    border: 2px solid $lighterGray;
  }

  @include mobile {
    display: none;
    float: left;
    margin: 0 auto;
    margin-right: 10px;
  }
}

.site-info {
  float: left;
  padding-top: 14px;

  @include mobile {
    position: absolute;
    float: left;
    display: block;
    margin: 0 auto;
    padding-top: 13px;
  }
}

.site-name {
  margin: 0;
  color: $lighterGray;
  cursor: pointer;
  font-family: $rubik;
  font-weight: 400;
  font-size: $smaller;
  letter-spacing: 1.4px;
  word-spacing: 2px;
  text-transform: uppercase;

  &.page {
    color: $darkBlue;
    font-weight: 400;
  }
}

//
// Navigation
//

.navigation {
  padding: 20px 0;

  @include mobile {
    text-align: left;
  }
}

nav {
  float: right;
  margin-top: 11px;

  @include mobile {
    float: left;
    position: relative;
    top: 35px;
    font-size: $smallest;
  }

  @include mobileSmall {
    top: 35px;
  }

  a {
    margin-left: 20px;
    text-align: right;
    font-family: $rubik;
    font-size: $tiny;
    color: $lighterGray;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @include mobile {
      margin-left: 0px;
      margin-right: 20px;
      color: $lightGray;
    }
  }

  &.page {
    a {
      color: $darkBlue;

      &:hover, &:active {
        color: $lightGray;
      }
    }
  }
}

// Home Buttons

.cta-buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  padding: 0 25px;
  border: 2px solid;
  border-radius: 25px;
  font-family: $rubik;
  font-size: $smaller;
  transition: all .15s ease-in-out;
  -webkit-appearance: none;
  cursor: pointer;

  &:hover, &:active {
    transform: scale(1.02);
  }

  &.primary-button {
    color: $darkBlue;
    background-color: $lighterBlue;
    border: 2px solid $lighterBlue;
    font-weight: 500;

    &:hover, &:active {
      color: $lighterGray !important;
    }
  }

  &.secondary-button {
    color: $lighterGray;
    background-color: inherit;
    border: 2px solid $lighterGray;
    font-weight: 400;

    &:hover, &:active {
      color: $lightestBlue;
      border: 2px solid $lightestBlue;
    }
  }

  &.newsletter-button {
    color: $white;
    background-color: $lighterBlue;
    border: none;
    font-weight: 500;

    &:hover, &:active {
      background-color: $lightestBlue;
      background-image: linear-gradient(to right, $lightBlue, $lighterBlue, $lightestBlue);
    }

    @include mobile {
      padding: 0 20px;
    }

    @include mobileSmall {
      padding: 0 15px;
    }
  }

  @include mobile {
    font-size: $smallest;
  }

  @include mobileSmall {
    font-size: $tiny;
  }
}

// Page

.page-info {
  margin-top: 50px;

  @include mobile {
    margin-top: 70px;
  }

  &.home {
    @include mobileSmall {
      font-size: $bigger;
    }
  }
}

.page-name {
  color: $lightestGray;
  font-weight: 700;
  font-size: $biggest;
  letter-spacing: 1px;
  margin-bottom: 20px;

  &.page {
    color: $darkBlue;
    font-weight: 700;
    font-size: $massive;
    letter-spacing: -2px;
    margin-bottom: 15px;

    @include mobile {
      font-size: $biggest;
    }

    @include mobileSmall {
      font-size: $bigger;
    }
  }

  &.home {
    @include mobile {
      font-size: $bigger;
    }

    @include mobileSmall {
      font-size: $big;
    }
  }

  @include mobile {
    font-size: $medium;
    text-align: left;
  }
}

.page-subtitle {
  color: $lightestGray;
  font-size: $small;
  font-family: $rubik;

  &.page {
    color: $blue;
    font-family: $rubik;
    font-size: $medium;
    padding-left: 3px;

    @include mobile {
      font-size: $small;
    }

    @include mobileSmall {
      font-size: $smaller;
    }
  }

  @include mobile {
    font-size: $smaller;
    text-align: left;
    padding-right: 20px;
  }
}

//
// #main
//

#main {
  margin: 0 auto;

  &.home {
    position: fixed;
    top: 45%;
    transform: translateY(-50%);

    @include mobileSmall {
      top: 50%;
    }
  }

  &.post {
    @include mobile {
      margin-top: 20px;
    }
  }
}

.posts > .post-preview {
  padding: 3%;
  margin-bottom: 1.8em;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  transition: 0.2s;
  &:hover, &:active {
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transform: scale(1.01);
  }

  h1 {
    font-size: $big;
    margin-top: 0px;
    margin-bottom: 10px;

    @include mobileSmall {
      font-size: $medium;
    }
  }
}

.posts > .post-preview:last-child {
  margin-bottom: 0;
}

.post-content {
  h1 {
    font-size: $biggest;
    margin-top: 20px;

    @include mobile {
      font-size: $bigger;
    }

    @include mobileSmall {
      font-size: $big;
    }
  }
}

.post-content > .entry {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $lighterGray;
    padding: 0.1em 1em;
    color: $lightGray;
    font-style: italic;
  }

  h1 {
    font-size: $big;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  figure {
    margin: 20px auto;
    text-align: center;
  }

  img {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
    border: solid 1px $lighterGray;
  }

  figcaption {
    font-size: $smallest;
    color: $lightGray;
  }

  hr {
    border:none;
    border-top: 4px dotted #c6d6d6;
    background-color: $white;
    width: 20px;
    text-align: center;
    margin: 20px auto;
  }

  .comments {
    margin-top: 10px;
  }
}

.image {
  margin-top: 20px;
}

.small-link {
  font-size: $smallest;
}

 // Footer

.wrapper-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  margin-bottom: 40px;

  &.blog {
    bottom: auto;
  }
}

.site-credit {
  font-size: $smallest;
  margin-top: 30px;
  color: $lightGray;
}

footer {
  padding: 20px 0;
  border-top: 1px solid $lighterGray;
  text-align: center;
}


// Newsletter

.wrapper-newsletter {
  &.post {
    margin-top: 30px;
    text-align: center;
  }
}

.newsletter-subscribe {
  margin-top: 20px;
  font-size: $smaller;

  @include mobile {
    font-size: $smallest;
  }
}

.newsletter-subscribe-email-label {
  padding-left: 1px;
  margin-bottom: 10px;

  @include mobile {
    padding-left: 0px;
  }
}

.newsletter-subscribe-email {
  display: inline-block;
  height: 50px;
  width: 320px;
  padding: .6em;
  color: $blue;
  font-size: $smallest;
  border: solid 2px $lighterBlue;
  border-radius: 25px;
  background: transparent;

  @include mobile {
    font-size: 15px;
    width: 180px;
  }

  @include mobileSmall {
    font-size: $tiny;
    width: 160px;
  }
}

// tooltip

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 110px;
  color: $blue;
  background-color: $lighterBlue;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  border-radius: 20px;

  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  margin-left: -60px;
  padding: 5px 0;
  letter-spacing: -.1px;

  &.page {
    color: $white;
  }
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $lighterBlue transparent;
}

// misc

.dot {
  height: 9px;
  width: 9px;
  background-color: $lighterGray;
  border-radius: 50%;
  display: inline-block;

  &.space {
    margin-left: 1px;
  }

  @include mobile {
    height: 7px;
    width: 7px;
  }

  @include mobileSmall {
    height: 5px;
    width: 5px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
