---
layout: default
class: course
custom_css: masterclass/style.css

title: Software Testing Masterclass
description: "A software testing course for beginners. Start career in tech by becoming a Software Tester."
image: /assets/more-than-testing.png

header: "Start a <span class='lighter-blue'>career in tech</span> by becoming a <span class='lighter-blue'>software tester</span><span class='dot' style='background-color: #1a3059;'></span>"
subtitle: "A 20h+ online course designed to convert total beginners into software testers."
---

<div id="wrapper-header" class="course">
  <div class="container">
    <header id="site-header" class="clearfix">
      <div id="site-logo" class="page course">
        <a href="/" id="site-avatar" class="page course">
          <img src="/assets/m-white.png" alt="More Than Testing logo" />
        </a>

        <h1 id="site-name" class="page course">
          <a href="/masterclass/">More Than Testing<br /><span id="site-name-masterclass">Masterclass</span></a>
        </h1>
      </div>
    </header>
  </div>
</div>

<div id="wrapper-content" role="main" class="page">
  <div class="container">
    {% include header.html class="page course" %}
  </div>

  <section id="course-intro">
    <div class="container">
      <img src="assets/icons/devices/devices.svg" alt="A laptop, a tablet and a mobile phone" />
      <a href="/masterclass/signup/" class="button course-cta">I'm interested!</a>
    </div>
  </section>

  <section id="course-transformation">
    <div class="container">
      <h2>Who you will become</h2>
      <div class="card">
        <div class="card-container">
          <img class="icon-big" src="assets/icons/people/icons8-long-curly-hair-lady-with-glasses.svg" alt="A person icon" />
          <h3>This is the future you.</h3>
          <p><i>"I'm working as a software tester and it's awesome!"</i></p>
          <div class="points">
            <div class="point">
              <img class="icon-tiny" src="assets/icons/basic/lifting.svg" alt="A dumbbell" />
              <p>I'm able to perform manual testing across web, mobile and API apps!</p>
            </div>

            <div class="point">
              <img class="icon-tiny" src="assets/icons/basic/trophy.svg" alt="A trophy" />
              <p>I can become a software testing freelancer or apply to any company looking for a manual software tester, yay!</p>
            </div>

            <div class="point">
              <img class="icon-tiny" src="assets/icons/basic/graph-line.svg" alt="An up-trending graph line" />
              <p>I'm constantly growing thanks to the online community of testers and exclusive mentorship meetings!</p>
            </div>

            <div class="point">
              <img class="icon-tiny" src="assets/icons/basic/heart.svg" alt="A heart" />
              <p>I love More Than Testing for helping me to become a software tester and telling me how to get a job!</p>
            </div>

            <!-- <div class="point">
              <img class="icon-tiny" src="assets/icons/basic/wallet.svg" alt="A cerfiticate" />
              <p>I've got a job and started earning decent money!</p>
            </div> -->
          </div>

          <a href="/masterclass/signup/" id="course-transformation-cta" class="button course-cta"><span>Oh yes, I want to become the future me!</span></a>
        </div>
      </div>
    </div>
  </section>

  <section id="course-explaination">
    <div class="container">
      <h2>How it works</h2>
      <div class="steps">
        <div class="step">
          <div class="step-container">
            <img class="icon-medium" src="assets/icons/career/smartphone.svg" alt="A mobile device" />
            <h3>1. Register for the course</h3>
            <p>It's just one step to start your career path in tech!</p>
          </div>
        </div>

        <div class="step">
          <div class="step-container">
            <img class="icon-medium" src="assets/icons/career/graph.svg" alt="A graph" />
            <h3>2. Learn from scratch</h3>
            <p>We teach you everything you need to know. From theory to practice!</p>
          </div>
        </div>

        <div class="step">
          <div class="step-container">
            <img class="icon-medium" src="assets/icons/career/networking.svg" alt="Team structure" />
            <h3>3. Apply for a job</h3>
            <p>You'll be able to apply for a job as a manual software tester!</p>
          </div>
        </div>

        <div class="step">
          <div class="step-container">
            <img class="icon-medium" src="assets/icons/career/money.svg" alt="Money" />
            <h3>4. Get paid well!</h3>
            <p>Jobs in tech pay well and software testing is no exception!</p>
          </div>
        </div>
      </div>
      <a href="/masterclass/signup/" class="button course-cta">Sounds great, I'm in!</a>
    </div>
  </section>

  <section id="course-benefits">
    <div class="container">
      <h2>What you get</h2>
      <div class="boxes">
        <div class="box">
          <div class="box-container">
            <img class="icon-small" src="assets/icons/career/presentation.svg" alt="A presentation" />
            <p>Lifetime access to all course videos and exercises online.</p>
          </div>
        </div>

        <div class="box">
          <div class="box-container">
            <img class="icon-small" src="assets/icons/career/team_work.svg" alt="A team" />
            <p>Membership in a private community of students who are starting their career just like you.</p>
          </div>
        </div>

        <div class="box">
          <div class="box-container">
            <img class="icon-small" src="assets/icons/career/chat.svg" alt="A chat" />
            <p>1-on-1 mentorship meetings with Dawid, the tutor of the Masterclass.</p>
          </div>
        </div>

        <div class="box">
          <div class="box-container">
            <img class="icon-small" src="assets/icons/career/announcement.svg" alt="A location sign " />
            <p>Access to real job offers<br />(selected countries only).</p>
          </div>
        </div>

        <div class="box">
          <div class="box-container">
            <img class="icon-small" src="assets/icons/career/checklist.svg" alt="A checklist" />
            <p>Free downloadable resources<br />(checklists, worksheets, PDF guides, etc.)</p>
          </div>
        </div>

        <div class="box">
          <div class="box-container">
            <img class="icon-small" src="assets/icons/career/card_cash_payment.svg" alt="A card cash payment" />
            <p>Unique discounts for any further courses at More Than Testing.</p>
          </div>
        </div>
      </div>

      <a href="/masterclass/signup/" class="button course-cta">Yay, I want it all!</a>
    </div>
  </section>

  <section id="course-requirements">
    <div class="container">
      <h2>What you need</h2>
      <div class="boxes">
        <div class="box">
          <div class="box-container">
            <img class="icon-medium" src="assets/icons/devices/laptop.svg" alt="A laptop" />
            <p><span class="medium-weight">A computer</span><br />(Windows or Mac)</p>
          </div>
        </div>

        <div class="box">
          <div class="box-container">
            <img class="icon-medium" src="assets/icons/devices/mobile-device.svg" alt="A mobile device" />
            <p><span class="medium-weight">A mobile device</span><br />(Android or iOS)</p>
          </div>
        </div>
      </div>

      <a href="/masterclass/signup/" class="button course-cta">That's it? I'm ready!</a>
    </div>
  </section>

  <section id="course-faq">
    <div class="container">
      <h2>FAQ</h2>
      <div class="tabs">
        <div class="tab">
          <input type="radio" id="rd2" name="rd">
          <label class="tab-label" for="rd2">Why software testing?</label>
          <div class="tab-content">
            <p>Simply because <span class="medium-weight">it's the easiest way</span> to break into tech world.</p>
            <p>Also, <span class="medium-weight">it's fun</span>! As a software tester you are exposed to technical and product sides of software development and it never gets boring!</p>
            <p>Then, <span class="medium-weight">it opens many doors</span>. For some it's a career for life, for others just a stop on a way to become software developers or even product managers. Up to you!</p>
          </div>
        </div>

        <div class="tab">
          <input type="radio" id="rd3" name="rd">
          <label class="tab-label" for="rd3">Who is this course for?</label>
          <div class="tab-content">
            <p>It's designed for individuals who are interested in starting a career in tech by becoming a software tester with no (or little) prior experience.</p>
            <p>Those who are already working as software testers may also benefit from the course, whether by building stronger theory foundation, getting more practice or learning how to lead their career.</p>
          </div>
        </div>

        <div class="tab">
          <input type="radio" id="rd4" name="rd">
          <label class="tab-label" for="rd4">Where does it happen?</label>
          <div class="tab-content">
            <p>The course is accessible entirely online at any point of time.</p>
            <p>We're using an online e-learning platform called Teachable to host the course. You can access it from via a web browser or a mobile app.</p>
            <p>The mentorship meetings with the tutor happen online as well.</p>
          </div>
        </div>

        <div class="tab">
          <input type="radio" id="rd5" name="rd">
          <label class="tab-label" for="rd5">How long does it take?</label>
          <div class="tab-content">
            <p>There's no time limit. You can start the course anytime and follow it at your own pace.</p>
          </div>
        </div>

        <div class="tab">
          <input type="radio" id="rd6" name="rd">
          <label class="tab-label" for="rd6">Will I learn how to code?</label>
          <div class="tab-content">
            <p>In short, no.</p>
            <p>You will learn how to use some tools (like Postman) and technologies (like JSON) which are used to support your work as a manual software tester, but they're not considered coding techniques per se.</p>
            <p>In the future, we're planning to create a separate course for people who want to learn how to code in order to be able to write automated tests and become Test Automation Engineers.</p>
          </div>
        </div>

        <div class="tab">
          <input type="radio" id="rd7" name="rd">
          <label class="tab-label" for="rd7">Got more questions?</label>
          <div class="tab-content">
            <p>Send us a message on <a href="mailto:contact@morethantesting.com">contact@morethantesting.com</a>! <span class="emoji">&#128522;</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="course-wrapup">
    <div class="container">
      <h1>Ready to start a <span class="lighter-blue">career in tech</span>?</h1>
      <a href="/masterclass/signup/" class="button course-cta">Hell yes, I was born ready!</a>
    </div>
  </section>
</div>

<div id="wrapper-footer" class="page {{ page.class }}">
  <div class="container">
    {% include footer.html %}
  </div>
</div>
