---
---

@import "variables";

body {
  color: $darkGrey;
}

h1, h2, h3, h4 {
  color: $darkGrey;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin: 15px 0;
}

ul {
  text-align: left;
}

li {
  margin-top: 6px;
}

section {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }

  .container {
    border-top: 1px solid $lighterGrey;
  }
}

.container {
  max-width: 960px;
}

.button-course {
  margin-right: 0;
  margin-top: 20px;
}

#site-header {
  justify-content: center;
  align-items: center;
}

#site-logo {
  @include mobile {
    padding: 0;
    float: none;
    justify-content: center;
  }
}

#site-name {
  font-size: $medium;

  @include mobile {
    font-size: $small;
  }

  a {
    &:hover {
      color: inherit;
    }

    br {
      display: block;
      margin: -5px 0;
      content: " ";
    }
  }
}

#page-header {
  .container {
    border-top: none;
  }
}

#site-name-masterclass {
  font-size: $medium;
  color: $primary;
  font-weight: 700;
  letter-spacing: 5.5px;
  padding-left: 6px;

  @include mobile {
    font-size: $small;
    letter-spacing: 4.4px;
    padding-left: 5px;
  }
}

#page-title {
  font-size: $biggest !important;

  @include mobile {
    font-size: $bigger !important;
    text-align: center;
  }

  @include mobileSmall {
    font-size: $big !important;
  }
}

#page-subtitle {
  margin-bottom: 0;
}

#course-intro {
  .container {
    border-top: none;
  }
}

#course-transformation {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    font-weight: 400;
  }

  ul {
    list-style-type: none;
  }
}

#course-transformation-cta {
  @include mobile {
    span {
      display: none;
    }

    &:after {
      content: 'I want to become the future me!';
    }
  }

  @include mobileSmall {
    span {
      display: none;
    }

    &:after {
      content: 'I want to be the future me!';
    }
  }
}

#course-explanation {
  color: $grey;

  h3 {
    font-weight: 500;
  }
}

#course-about-us {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#course-faq {
  padding-bottom: 0;
}

#course-wrapup {
  h1 {
    font-weight: 800;
  }

  >.container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

// custom footer

#wrapper-footer {
  section {
    padding-bottom: 0px;
  }
}

#footer-services, #footer-about-us {
  display: none;
}

#footer-social {
  margin-top: 20px;
}

.footer-containers {
  justify-content: center;
}

// Blinking cursor color

.blinking-cursor {
  @include blinkingCursorAnimation($primary);
}

@include blinkingCursorKeyframes($primary);
