<footer id="site-footer">
  <div class="container">
    <div class="footer-containers">

      <div class="footer-container">
        <section class="footer-section column" id="footer-services">
          <h4>Services</h4>
          <ul>
            <li><a href="/masterclass/" target="_blank">Masterclass</a></li>
            <li><a href="https://softwaretestingweekly.com" target="_blank">Weekly Newsletter</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </section>
      </div>

      <div class="footer-container column">
        <section class="footer-section" id="footer-social">
          <a href="https://www.twitter.com/{{ site.social.twitter }}" target="_blank"><img class="icon icon-tiny" src="/assets/icons/social/twitter.svg" /></a>
          <a href="https://www.instagram.com/{{ site.social.instagram }}" target="_blank"><img class="icon icon-tiny" src="/assets/icons/social/instagram.svg" /></a>
          <a href="https://www.youtube.com/{{ site.social.youtube }}" target="_blank"><img class="icon icon-tiny" src="/assets/icons/social/youtube.svg" /></a>
        </section>

        <section class="footer-section" id="footer-credit">
          <p>2020 &copy; More Than Testing Ltd<br>Made with 🤍 in London.</p>
        </section>

        <section class="footer-section" id="footer-legal">
          <a href="/legal/privacy/">Privacy</a> | <a href="/legal/cookies/">Cookies</a> | <a href="mailto:{{ site.social.email }}">Contact</a>
        </section>
      </div>
    </div>

  </div>
</footer>
