<footer id="site-footer">
  <div class="container">
    <div class="footer-containers">

      <div class="footer-container">
        <section class="footer-section column" id="footer-services">
          <h4>Learn</h4>
          <ul>
            <!-- <li><a href="/masterclass/">Masterclass</a></li> -->
            <li><a href="https://softwaretestingweekly.com/" target="_blank">Weekly News</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </section>
      </div>

      <div class="footer-container">
        <section class="footer-section column" id="footer-about-us">
          <h4>More Than Testing</h4>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/legal/privacy/">Privacy</a></li>
            <!-- <li><a href="/legal/cookies/">Cookies</a></li> -->
          </ul>
        </section>
      </div>
    </div>

    {% include social-links.html class="footer-section" id="footer-social" %}

    <div id="footer-credits">
      <section class="footer-section">
        <span>Founded by <a href="https://linkedin.com/in/{{ site.author.social.linkedin }}/">Dawid Dylowicz</a></span>
        <br>
        <span>&copy; 2019–2022 More Than Testing Ltd</span>
      </section>
    </div>

  </div>
</footer>
