<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
{% if page.custom_css %}
  {% for custom_css in page.custom_css %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ custom_css }}">
  {% endfor %}
{% endif %}
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap" rel="stylesheet" />
