<header class="navigation clearfix">
  <a href="/" class="site-avatar">
    <img src="{{ site.avatar }}" alt="More Than Testing avatar" />
  </a>

  <div class="site-info {{ include.class }}">
    <h1 class="site-name {{ include.class }}"><a href="/">{{ site.name }}</a></h1>
  </div>

  <nav class="{{ include.class }}">
    <a href="{{ site.baseurl }}/blog" class="nav-link">Blog</a>
    <a href="{{ site.baseurl }}/courses" class="nav-link tooltip">Courses<span class="tooltip-text {{ include.class }}">Coming soon!</span></a>
  </nav>
</header>
