<div id="site-navigation">
  <nav role="navigation" class="{{ include.class }}">
    <div id="menu-toggle">
      <input type="checkbox" />

      <span class="{{ include.class }}"></span>
      <span class="{{ include.class }}"></span>
      <span class="{{ include.class }}"></span>

      <ul id="menu" class="{{ include.class }}">
        <li id="home-link"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
        <li><a href="{{ site.baseurl }}/masterclass/" class="nav-link" target="_blank">Masterclass</a></li>
        <li><a href="https://softwaretestingweekly.com/" class="nav-link" target="_blank">Weekly News</a></li>
        <li><a href="{{ site.baseurl }}/blog/" class="nav-link">Blog</a></li>

        {% include social-links.html %}
      </ul>
    </div>
  </nav>
</div>
