<header id="site-header" class="clearfix {{ include.class }}">
  <div id="site-logo">
    <a href="/" id="site-avatar" class="{{ include.class }}">
      <img src="{{ include.logo }}" alt="More Than Testing logo" />
    </a>

    <h1 id="site-name" class="{{ include.class }}"><a href="/">{{ site.name }}</a></h1>
  </div>

  <div id="site-navigation">
    <nav role="navigation" class="{{ include.class }}">
      <div id="menu-toggle">
        <input type="checkbox" />

        <span class="{{ include.class }}"></span>
        <span class="{{ include.class }}"></span>
        <span class="{{ include.class }}"></span>

        <ul id="menu" class="{{ include.class }}">
          <li><a href="{{ site.baseurl }}/courses/" class="nav-link">Courses</a></li>
          <li><a href="{{ site.baseurl }}/newsletter/" class="nav-link">Newsletter</a></li>
          <li><a href="{{ site.baseurl }}/blog/" class="nav-link">Blog</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
