<section class="social-links-author">
  {% if site.author.social.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.social.linkedin }}"><img class="icon icon-tiny" src="/assets/icons/social/linkedin.svg" /></a>{% endif %}
  {% if site.author.social.twitter %}<a href="https://www.twitter.com/{{ site.author.social.twitter }}"><img class="icon icon-tiny" src="/assets/icons/social/twitter.svg" /></a>{% endif %}
  {% if site.author.social.email %}<a href="mailto:{{ site.author.social.email }}"><img class="icon icon-tiny" src="/assets/icons/social/mail.svg" /></a>{% endif %}
</section>
