// header (the sticky one)

#wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 77px;

  // so that zoomin' in blog posts on /blog that are using transform
  // are not overlaying the menu
  z-index: 1;

  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.0375) 0px 4px 12px 0px;

  @include mobile {
    box-shadow: rgba(0, 0, 0, 0.075) 0px 4px 12px 0px;
    height: 60px;
  }
}

#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  @include mobile {
    height: 60px;
  }
}

#site-name {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

#site-logo {
  display: block; 
  width: 260px;
  height: 35px;

  background: url(assets/logo-full.svg) left top no-repeat transparent;
  overflow: hidden;

  text-indent: -9999px;

  @include mobile {
    width: 220px;
    height: 29px;
  }

  @include mobileSmall {
    width: 200px;
    height: 27px;
  }
}
