// Navigation

#site-navigation {
  margin: auto;
  margin-right: 0;

  @include mobile {
    float: right;
    font-size: $smallest;
  }

  @include mobileSmall {
    top: 35px;
  }
}

nav {
  a {
    color: $darkGrey;
    margin-left: 30px;
    text-align: right;

    font-size: $smaller;
    font-weight: 500;
    letter-spacing: -.02rem;

    @include mobile {
      margin: 0 auto;
    }
  }

  &.course {
    display: none;
  }
}

// hamburger menu

#menu-toggle {
  @include mobile {
    display: block;

    -webkit-user-select: none;
    user-select: none;
  }
}

// https://stackoverflow.com/questions/63907743/parent-element-backdrop-filter-does-not-apply-for-its-child
#menu:before {
  @include mobile {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#menu {
  display: flex;
  list-style-type: none;

  @include mobile {
    -webkit-backdrop-filter: blur($blur);
    backdrop-filter: blur($blur);
    background-color: rgba(246, 247, 249, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 4px;
    border-radius: $borderRadius;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 200px;
    height: 325px;
    top: 77px;
    margin: auto;
    padding: 0;

    z-index: 1;

    transform-origin: 0% 0%;
    transform: translate(35%, 0%);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

#menu-toggle input:checked ~ ul
{
  @include mobile {
    // -84% so that it covers aligns on the right side with the images on the blog
    transform: translate(-84%, 0%);
  }
}

#menu li {
  display: flex;

  @include mobile {
    margin-top: 30px;
  }
}

#menu .social-links {
  display: none;

  @include mobile {
    display: flex;
    margin-top: 30px;
  }
}

#menu-toggle input
{
  display: none;

  @include mobile {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: 13px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }
}

#menu-toggle span
{
  display: none;

  @include mobile {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $darkGrey;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
}

#menu-toggle span:first-child
{
  @include mobile {
    transform-origin: 0% 0%;
  }
}

#menu-toggle span:nth-last-child(2)
{
  @include mobile {
    transform-origin: 0% 100%;
  }
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked ~ span
{
  background: $darkGrey;

  @include mobile {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }
}

/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked ~ span:nth-last-child(3)
{
  @include mobile {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
}

/*
 * Oh yeah and the last one should go the other direction
 */
#menu-toggle input:checked ~ span:nth-last-child(2)
{
  background: $darkGrey;

  @include mobile {
    transform: rotate(-45deg) translate(0, -1px);
  }
}
