---
layout: page
custom_css: about/about.css

title: About
description: "Learn more about More Than Testing."
image: /assets/more-than-testing.png

header: "About"
subtitle:

sitemap: true
---

<section id="about-me">
  <div class="card">
    <div class="card-container">
      <div class="avatar avatar-big">
        <img class="icon-big" src="{{ site.author.avatar }}" alt="Dawid's profile picture" />
      </div>

      <h3>Hey, I'm <span class="primary">Dawid Dylowicz</span> 👋</h3>
      <p>I help over 9,000 testers grow by curating the {% include link.html href="https://softwaretestingweekly.com/" content="Software Testing Weekly" follow=true %} newsletter.</p>
      <p>I have over 12 years of working experience in helping VC-backed startups scale high quality products.</p>
      <p>I'm also a Director of Test Engineering at {% include link.html href="https://onfido.com/" content="Onfido" %}.</p>
      <p>Feel free to reach out to me:</p>
      {% include social-links-author.html %}
    </div>
  </div>
</section>
