---
---

@import "variables";

#wrapper-content > .container {
  max-width: 720px;
}
// Posts preview on /blog

.post-preview {
  padding: 3%;
  margin-bottom: 1.8em;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  transition: 0.2s;
  &:hover, &:active {
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transform: scale(1.005);
  }

  h1 {
    font-size: $big;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;

    @include mobile {
      font-size: $medium;
    }
  }

  p {
    margin: 10px 0;
    color: $gray;
  }
}

.posts > .post-preview:last-child {
  margin-bottom: 0;
}

// Inside post

.post-title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: $bigger;

  margin-top: 20px;

  @include mobileSmall {
    font-size: $big;
  }
}

.post-content > .entry {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $lighterGray;
    padding: 0.1em 1em;
    color: $lightGray;
    font-style: italic;
  }

  h1 {
    font-size: $big;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 45px;

    @include mobile {
      margin-top: 30px;
    }
  }

  h3 {
    margin-top: 35px;

    @include mobile {
      margin-top: 25px;
    }
  }

  figure {
    margin: 20px auto;
    text-align: center;
  }

  img {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
    border: solid 1px $lighterGray;
    border-radius: 3px;
  }

  video {
    width: 100%;
  }

  hr {
    border:none;
    border-top: 4px dotted #c6d6d6;
    background-color: $white;
    width: 20px;
    text-align: center;
    margin: 20px auto;
  }

  .comments {
    margin-top: 10px;
  }
}

// Author

.author-profile {
  display: flex;
  align-items: center;
  margin: 50px 0;

  .avatar {
    margin-right: 20px;

    @include mobileSmall {
      margin-right: 10px;
    }
  }

  .author-profile-content {
    font-family: $rubik;

    .author-name {
      margin: 5px 0;
      letter-spacing: -0.2px;
    }

    .author-description {
      margin: 5px 0;
      letter-spacing: -0.3px;
      color: $gray;
      font-size: $smallest;

      @include mobileSmall {
        font-size: $tiny;
      }
    }

    .author-profile-social a {
      margin-right: 10px;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
