---
layout: default
class: course
custom_css:
  - masterclass/masterclass.css
  - masterclass/signup/signup.css

title: Sign up for Software Testing Masterclass
description: "Sign up for a software testing course for beginners. Start career in tech by becoming a Software Tester."
image: /assets/more-than-testing.png

header: "Sign up for the <span class='primary'>waiting list</span>!"
subtitle: "The course registration is opening soon!"
---

<div id="wrapper-header" class="course">
  <div class="container">
    <header id="site-header">
      <div id="site-logo" class="page course">
        <h1 id="site-name" class="page course">
          <a href="/masterclass/">more than testing<br><span id="site-name-masterclass">masterclass</span></a>
        </h1>
      </div>
    </header>
  </div>
</div>

<div id="wrapper-content" role="main" class="page">
  {% include page-header.html class="page course" %}

  <section id="course-signup">
    <div class="container">
      <img id="icon-announcement" src="../assets/icons/career/announcement.svg" alt="An announcement" />
      <br><br>
      <div id="wrapper-newsletter" class="page">
        {% include newsletter.html masterclass=true %}
      </div>
      <br>
      <p>We'll let you know when the course registration is open. You'll also get <span class="medium-weight">an extra discount</span>!</p>
    </div>
  </section>
</div>

<div id="wrapper-footer">
  {% include footer.html %}
</div>
