---
layout: default
class: course
custom_css:
  - masterclass/style.css
  - masterclass/signup/style.css

title: Sign up for Software Testing Masterclass
description: "Sign up for a software testing course for beginners. Start career in tech by becoming a Software Tester."
image: /assets/more-than-testing.png

header: "Sign up for the <span class='lighter-blue'>waiting list</span>"
subtitle: "The course registration is opening soon!"

sitemap: false
---

<div id="wrapper-header" class="course">
  <div class="container">
    <header id="site-header" class="clearfix">
      <div id="site-logo" class="page course">
        <a href="/" id="site-avatar" class="page course">
          <img src="/assets/m-white.png" alt="More Than Testing logo" />
        </a>

        <h1 id="site-name" class="page course">
          <a href="/masterclass/">More Than Testing<br /><span id="site-name-masterclass">Masterclass</span></a>
        </h1>
      </div>
    </header>
  </div>
</div>

<div id="wrapper-content" role="main" class="page">
  {% include header.html class="page course" %}

  <section id="course-signup">
    <div class="container">
      <img id="icon-announcement" src="../assets/icons/career/announcement.svg" alt="An announcement" />
      <br /><br />
      <div id="wrapper-newsletter" class="page">
        {% include newsletter.html %}
      </div>
      <br />
      <p>We'll let you know when the course registration is open. You'll also get <span class="medium-weight">an extra discount</span>!</p>
    </div>
  </section>
</div>

<div id="wrapper-footer">
  {% include footer.html %}
</div>
