---
---

@import "variables";

#wrapper-footer {
  margin-top: 90px;
}

#course-signup > .container {
  border-top: none;
  max-width: 800px;
  // padding-top: 30px;

  @include mobile {
    // padding-top: 20px;
  }
}

#icon-announcement {
  width: 128px;
  height: 128px;

  @include mobile {
    width: 96px;
    height: 96px;
  }
}
