---
layout: default
---

<div class="wrapper-header page post">
  <div class="container">
    {% include navigation.html class="page post" logo="/assets/m-white.png" %}
    {% include header.html class="page post" %}
  </div>
</div>

<div id="main" role="main" class="post">
  <div class="container">
    <article class="post-content">
      <a href="/blog" class="small-link">&larr; Back</a>

      <h1>{{ page.title }}</h1>

      <div class="date">{{ page.date | date: "%b %e" }} · {{ page.read_time }} min read</div>

      {% if page.image %}
        <div class="image">
          <img src="{{ page.image }}" alt="{{ page.alt | default: 'image' }}" />
        </div>
      {% endif %}

      <div class="entry">{{ content }}</div>

      {% include disqus.html %}
    </article>

    <div class="wrapper-newsletter post">
      {% include newsletter.html %}
    </div>
  </div>
</div>

<div class="wrapper-footer blog">
  <div class="container">
    {% include footer.html %}
  </div>
</div>
