---
layout: default
custom_css: blog/style_post.css
---

<div id="wrapper-header" class="page post">
  <div class="container">
    {% include navigation.html class="page post" logo="/assets/m-white.png" %}
  </div>
</div>

<div id="wrapper-content" role="main" class="post">
  <div class="container">
    {% include header.html class="page post" %}
    <article class="post-content">
      <a href="/blog/" class="small-link">&larr; Back</a>

      <h1>{{ page.title }}</h1>

      <div class="date">{{ page.date | date: "%b %e" }} · {{ page.read_time }} min read</div>

      {% if page.image %}
        <div class="image">
          <img src="{{ page.image }}" alt="{{ page.alt | default: 'image' }}" />
        </div>
      {% endif %}

      <div class="entry">{{ content }}</div>

      {% include disqus.html %}
    </article>

    <div id="wrapper-newsletter" class="post">
      {% include newsletter.html %}
    </div>
  </div>
</div>

<div id="wrapper-footer" class="blog">
  <div class="container">
    {% include footer.html %}
  </div>
</div>
