---
layout: default
---

<div id="wrapper-header" class="page post">
  <div class="container">
    {% include header.html class="page post" %}
  </div>
</div>

<div id="wrapper-content" role="main" class="post">
  <div class="container">
    <article class="post-content">
      <a href="/blog/" class="small-link">&larr; Back to blog</a>

      <h1 class="post-title">{{ page.title }}</h1>

      <section class="date">{{ page.date | date: "%b %e, %Y" }} · {{ page.read_time }} min read</section>

      {% if page.image %}
        {% capture image_src %}{{ page.image }}{% endcapture %}
        {% capture image_alt %}{{ page.alt }}{% endcapture %}
        {% include image.html src=image_src alt=image_alt dont_show_alt=true %}
      {% endif %}

      <div class="entry">{{ content }}</div>
    </article>

    <section class="author-profile">
      <section class="author-profile-picture">
        <div class="avatar avatar-medium">
          <img class="icon-medium" src="{{ site.author.avatar }}" alt="Dawid's profile picture" />
        </div>
      </section>
      <section class="author-profile-content">
        <h4 class="author-name">{{ site.author.name }}</h4>
        <p class="author-description">{{ site.author.description }}</p>
        {% include social-links-author.html %}
      </section>
    </section>

    <div id="wrapper-newsletter" class="post">
      {% include newsletter.html %}
    </div>
  </div>
</div>

<div id="wrapper-footer" class="blog post">
  {% include footer.html %}
</div>
