---
---

@import "variables";

.container {
  max-width: 960px;
}

#site-name-masterclass {
  font-size: $small;
  font-weight: 700;
  letter-spacing: 5.3px;
  padding-left: 4px;

  @include mobile {
    letter-spacing: 5.3px;
    padding-left: 0px;
  }
}
